<div class="card text-center">
  <div class="card-header">
    <%= image_tag(@info_usuario.avatar.url(:thumb)) %>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @info_usuario.name %> <%= @info_usuario.lastname %></h4>
    <p class="card-text"><%= @info_usuario.summary %></p>
    <p class="card-text"><%= @info_usuario.email %></p>
    <p class="card-text"><%= @info_usuario.country %></p>
    <p class="card-text"><%= @info_usuario.city %></p>
    <a href="#" class="btn btn-success">Hired..!!!</a>
  </div>
</div>
