<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @membership.name %>
</p>

<p>
  <strong>Months:</strong>
  <%= @membership.months %>
</p>

<p>
  <strong>Services:</strong>
  <%= @membership.services %>
</p>

<p>
  <strong>Clients max:</strong>
  <%= @membership.clients_max %>
</p>

<p>
  <strong>Base discount:</strong>
  <%= @membership.base_discount %>
</p>

<p>
  <strong>Dish discount:</strong>
  <%= @membership.dish_discount %>
</p>

<p>
  <strong>Dishes max:</strong>
  <%= @membership.dishes_max %>
</p>

<p>
  <strong>No dishes max:</strong>
  <%= @membership.no_dishes_max %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership.price %>
</p>

<p>
  <strong>Price whit discount:</strong>
  <%= @membership.price_whit_discount %>
</p>

<p>
  <strong>Saving:</strong>
  <%= @membership.saving %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
