<br>
<% @info_usuarios.each do |i_u| %>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header"><%= image_tag(i_u.avatar.url(:thumb)) %></div>
  <div class="card-body">
    <h4 class="card-title"><%= i_u.name %> <%= i_u.lastname %></h4>
    <p class="card-text"><%= i_u.summary %></p>
  </div>
  <a href="/profiles/<%=i_u.id%>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Show Profile</a>
</div>
<% end %>
