<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <%= image_tag('branchef_logo.png',size: "25") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_url, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Edit profile", edit_user_registration_path, :class => "nav-link jahen-css-linktonavbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link jahen-css-linktonavbar" %>
        </li>
        <a>
          <%= image_tag(current_user.avatar.url(:thumb), :border=>0, :class => "rounded-circle") %>
        </a>
      <% elsif current_chef %>
        <li class="nav-item">
          <%= link_to "Edit profile", edit_chef_registration_path, :class => "nav-link jahen-css-linktonavbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_chef_session_path, :method => :delete, :class => "nav-link jahen-css-linktonavbar" %>
        </li>
        <a>
          <%= image_tag(current_chef.avatar.url(:thumb), :border=>0, :class => "rounded-circle") %>
        </a>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', static_pages_sign_in_path, :class => "nav-link jahen-css-linktonavbar"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', static_pages_sign_up_path, :class => "nav-link jahen-css-linktonavbar" %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
